service: hipaa-hello-world
frameworkVersion: '4'

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  stage: ${opt:stage, 'dev'}
  environment:
    ENVIRONMENT: ${self:provider.stage}
  httpApi:
    cors:
      allowedOrigins:
        - '*'
      allowedHeaders:
        - Content-Type
        - Authorization
      allowedMethods:
        - GET
        - POST
        - OPTIONS

build:
  esbuild:
    bundle: true
    minify: true
    sourcemap: true
    exclude: ['@aws-sdk/*']
    target: node20
    platform: node

functions:
  hello:
    handler: lambda/hello.handler
    events:
      - httpApi:
          path: /hello
          method: get